body {
    background-color: rgb(132, 194, 212);
    
    
}
.nav-container{
    margin-top:15px;
}
.new-tweets{
    width: 50%;
    margin: auto;
    /* background-color: white; */
    opacity: 50%;
}
#write-tweet{
    width: 50%;
    margin: auto;

    opacity: 50%;
}
.nav{
    width: 50%;
    margin: auto;
    background-color: white;
    opacity: 50%;
}
.nav a{  
    margin: 0px 50px 0px 50px;
}
.tweet-stream{
    width: 50%;
    margin:auto;
}


.tweet {
    opacity: 75%;
    background-color: rgb(159, 165, 218);
    margin: 5px 5px 5px 5px;
    size: 110%;
   
}
.hidden{
    display: none;
}
.user {
    font-weight: bold;
    font-style: oblique;
    cursor: pointer
}
